.singlepostimg{
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-left: 50px;
}
.captioncontent{
    float: right;
    margin-left: 8px;
    font-family: 'Didact gothic';
    margin-top: 20px;
    margin-right: 100px;
}
